/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sel_right .button {
        margin: 15px auto;
        float:none;
    }
    .sel_descr {
        text-align: center;
    }

    .main_mnu ul {
        display: none;
        position: absolute;
        background-color: #4194b8;
        width: 100%;
    }

    .main_mnu ul li{
        display: block;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .top_links{
        display: none;
        background-color: #5b6166;
        vertical-align: middle;
        position: absolute;
        margin-top: 15px;
        padding: 10px;
        width: 100%;
    }
    
  

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .top_links{
        display: inline-block !important;
    }
   

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main_mnu ul{
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}